.checkList {
    display: flex;
    position: absolute;
    align-items: center;

    gap: 10px;

    top: 20px;
    right: 20px;

    flex-direction: column;
    z-index: 999;
}

.list {
    border: 2px solid black;
    border-radius: 10px;


    padding: 10px 30px;
    max-height: 250px;

    background-color: white;
    box-shadow: var(--sd-realistic-shadow);

    text-transform: capitalize;
    overflow: auto;
}

.checkList li {
    margin-bottom: 10px;
}


.checkList li:last-of-type {
    margin-bottom: 0px;
}

.checkList li input {
    margin-right: 10px;
}

.button {
    font-size: 16px;
    background-color: white;
}

.menuTablet {
    display: none;
    position: absolute;
    align-items: center;
    justify-items: center;

    width: 24px;

    right: 20px;
    top: 20px;

    border-radius: 4px;

    cursor: pointer;
    z-index: 999;
}

@media screen and (max-width: 1700px) {
    .menuTablet {
        display: block;
    }

    .checkListRegular {
        display: none;
    }

    .checkListAdaptation {
        display: block;
    }
}