.text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.correctIncorrect {
    font-weight: 500;
    font-size: 22px;
    padding: 10px 20px;
    border-radius: 8px;
    min-width: 110px;
    text-align: center;
}

.rightAnswer {
    color: var(--tc-grey);
    text-align: center;
}

@media screen and (max-width: 960px) {
    .correctIncorrect {
        max-width: 90%;
    }

    .rightAnswer {
        max-width: 90%;
    }
}