.dishTiles {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    gap: 20px;
    width: 290px;
    height: 370px;
    padding: 10px;

    border: 1.5px solid black;
    border-radius: 10px;

    flex-direction: column;
    box-shadow: 0px 5px 20px rgba(112, 144, 176, 0.2);
}

.name {
    font-family: var(--font-inter);
    font-weight: 500;
    max-width: 100%;
    max-height: 45px;
    overflow: auto;
    text-align: center;
}

.image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;

}

.alcoholAlert {
    position: absolute;
    right: 0px;
    top: 0px;
    font-weight: 300;
    border: 1px solid rgb(139, 0, 0);
    font-size: 13px;
    border-radius: 8px;
    background-color: rgba(255, 81, 81, 0.692);
    padding: 1px 7px;
    color: var(--tc-incorrect-ans);
}

@media screen and (max-width: 1180px) {
    .dishTiles {
        width: 270px;
        height: 350px;
    }

    .name {
        font-size: 14px;
    }

    .image {
        width: 80%;
        max-height: 100%;
    }
}

@media screen and (max-width: 860px) {
    .dishTiles {
        width: 230px;
        height: 340px;
    }

    .name {
        font-size: 14px;
    }

    .image {
        width: 200px;
        height: 200px;
    }
}