.main {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 40px;

    width: 86%;

    flex-direction: column;
}

.dishInfo {
    font-size: 20px;
    font-weight: 500;

    text-transform: capitalize;
}

.recipeScroll {
    width: 100%;
    height: 300px;

    overflow: auto;
}

.recipe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;

    padding: 10px 10px;
}

.recipeOneByOne {
    position: relative;

    padding: 7px 14px;
    border-radius: 6px;
    border: 1px solid black;

    text-transform: capitalize;
    font-size: 16px;

    cursor: pointer;

    /* box-shadow: rgba(45, 35, 66, 0.1) 0 2px 4px,
        rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset; */
}

.recipeOneByOneCorrect {
    background-color: var(--bg-correct-ans);
    color: var(--tc-correct-ans);
    cursor: default !important;
}

.recipeOneByOneIncorrect {
    background-color: var(--bg-incorrect-ans);
    color: var(--tc-incorrect-ans);
    cursor: default !important;
}

.buttons {
    display: flex;
    gap: 40px;
}