.dishDetails {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    flex-direction: column;
}

.resultExplainWindow {
    overflow: auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px 40px;
}

.resultExplainWindow h2 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 10px;
}

.resultExplainWindow h2:nth-child(1) {
    margin-top: 0;
}

.resultExplainWindow p {
    font-size: 18px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 40px;
}

@media screen and (max-width: 960px) {
    .buttons {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .resultExplainWindow h2 {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .resultExplainWindow p {
        font-size: 17px;
    }
}