.mainWindow {
    width: 1000px;
    height: 800px;
}

.main {
    position: relative;
}

.countDown {
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--tc-grey);
}

.testGap {
    gap: 50px;
}