@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: var(--font-inter);
  font-weight: 400;
}

.mainWindowStandard {
  width: var(--windows-width-desktop);
  height: var(--windows-height-desktop);

  gap: 70px;
}

button {
  font-size: 18px;
}