@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: var(--font-inter);
  font-weight: 400;
}

.mainWindowStandard {
  width: 1000px;
  height: 700px;

  gap: 70px;
}